*::before,
*::after {
  box-sizing: border-box;
}
.generate-form{
    /* max-width: 500px; */
    /* display: flex; */
    justify-content: center;
}
.generate-form-wrapper {
    display: flex;
    flex-basis: 100%;
    min-height: 100vh;
    width: 100%;
    justify-content: center;
}
.generate-form .card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  
  border: 1 solid #d9dee3;
  border-radius: 0.5rem;
}
.card-body {
  flex: 1 1 auto;
  padding: 1.5rem 1.5rem;
}

.card-title {
  margin-bottom: 0.875rem;
}
.card-header {
  padding: 1.5rem 1.5rem;
  margin-bottom: 0;
  background-color: transparent;
  border-bottom: 0 solid #d9dee3;
}
.input-group{
  background-color: #fff;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
}
.input-group .input-group-merge {
    display: flex;
    flex-basis: 100%;
    min-height: 100vh;
    width: 100%;
    justify-content: center;
}
.copy-code-container {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.copy-code-button {
  background-color: #1f1f1f; 
  color: white; 
  border: none; 
  padding: 10px 20px; 
  border-radius: 5px; 
  cursor: pointer; 
  font-size: 16px; 
  transition: background-color 0.3s; 

}

.input-group {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.copy-link-button {
  display: flex;
  align-items: center;
  padding: 10px;

  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
}

.copy-message {
  display: none;
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  z-index: 1;
}